.clearfix {
    *zoom:1;
}
.clearfix:before,
.clearfix:after {
    display:table;
    content:"";
}
.clearfix:after {
    clear:both;
}

/* Actions
-------------------------------------------------- */
.form-toolbar #accordion-actions {
    float:left;
    width:220px;
    z-index:6000000;
    border:1px solid #999;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
.form-toolbar .accordion-bar {
    padding:0 35px;
    border-bottom:1px solid #999;
    letter-spacing:1px;
    font-weight:bold;
    color:#333;
    cursor:pointer;
    text-shadow:0 1px 0 #fff,0 0 10px rgba(255,255,255,0.6);
    white-space:nowrap;
    line-height:30px;
    height:30px
}
.form-toolbar .accordion-bar span {
    margin-left:5px;
}
.form-toolbar .accordion-content {
    position:relative;
    padding:0 !important;
    max-height:300px;
    overflow:auto;
}
.form-toolbar .accordion-content-inner {
    padding:5px;
}
.form-toolbar .accordion-content-inner>div {
    font-size:11px;
}
.form-toolbar .tools {
    list-style:none;
    padding:0;
    margin-left:0;
}
.form-toolbar .tools li {
    position:relative;
    padding:3px!important;
    height:16px;
    float:none;
    height:20px;
    padding:0.25em 0 .25em;
    margin-top:1px 5px 0 0;
    overflow:visible;
    cursor:pointer;
    font-size:11px;
    border:1px solid transparent;
    text-align:left;
    outline:none !important;
}
.form-toolbar .tools li:not(.divider):hover {
    border:1px solid #aaa;
    background-color:#e5e5e5;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.form-toolbar .tools li.divider {
    height:1px;
    margin:9px -5px;
    padding:0 !important;
    overflow:hidden;
    background-color:#e5e5e5;
    cursor:default;
}
.form-toolbar .accordion-bar img,.tools img {
    margin:-5px 5px 0 0;
    background:transparent url(../images/controls.png) no-repeat scroll 0 0;
    width:16px;
    height:16px;
}
.form-toolbar .controls-form_tools {
    background-position:-1808px 0 !important;
}
.form-toolbar .controls-head {
    background-position:-858px 0 !important;
}
.form-toolbar .controls-text {
    background-position:-1730px 0 !important;
}
.form-toolbar .controls-textbox {
    background-position:-1782px 0 !important;
}
.form-toolbar .controls-textarea {
    background-position:-1756px 0 !important;
}
.form-toolbar .controls-dropdown {
    background-position:-611px 0 !important;
}
.form-toolbar .controls-radio {
    background-position:-1495px 0 !important;
}
.form-toolbar .controls-checkbox {
    background-position:-442px 0 !important;
}
.form-toolbar .controls-quick_tools {
    background-position:-1469px 0 !important;
}
.form-toolbar .controls-fullname {
    background-position:-689px 0 !important;
}
.form-toolbar .controls-email {
    background-position:-637px 0 !important;
}
.form-toolbar .controls-phone {
    background-position:-1417px 0 !important;
}
.form-toolbar .controls-datetime {
    background-position:-585px 0 !important;
}
.form-toolbar .controls-time {
    background-image:url(../images/time.png);
}
.form-toolbar .controls-birthday {
    background-position:-364px 0 !important;
}
.form-toolbar .controls-number {
    background-position:-962px 0 !important;
}
.form-toolbar .controls-power_tools {
    background-position:-1443px 0 !important;
}
.form-toolbar .controls-formcollapse {
    background-position:-663px 0 !important;
}
.form-toolbar .controls-matrix {
    background-position:-936px 0 !important;
}
.form-toolbar .controls-calculation {
    background-image:url(../images/calculation.png);
}
.form-toolbar .controls-saved_fields {
    background-position:-1704px 0 !important;
}

/* Frame
-------------------------------------------------- */
#form-editor {
    float:left;
    border:none;
    background:#fff;
    height:100%;
    position:relative;
    padding:10px;
    margin-left:20px;
}
.form-list {
    list-style:none;
    list-style-position:outside;
    margin:20px 0 20px;
    padding:0;
    border-right:1px dashed #ccc;
    width:99.2%;
    font-family:Verdana;
    font-size:12px;
}
#form-editor .form-list {
    min-height:300px;
}
.form-list li {
    border:1px solid transparent;
}
.form-list li.ui-sortable-placeholder {
    border-top:4px dotted #ccc;
}

/* Form
-------------------------------------------------- */
.form-section,.form-section-closed {
    list-style:none;
    list-style-position:outside;
    margin:0;
    padding:0;
    position:relative;
    zoom:1;
}
.form-section-closed {
    overflow:hidden;
    height:60px;
}
.form-line {
    clear:both;
    padding:10px;
    margin:0;
    display:inline-block;
    width:97%;
    width:-moz-available;
    position:relative;
}
#form-editor .form-line {
    cursor:move;
}
.form-input-hidden {
    display:none;
}
.form-input-wide {
    clear:both;
    padding:0;
}
.form-line-column {
    float:left;
    clear:none;
    width:auto;
    min-width:125px;
    white-space:nowrap;
}
.form-line-column-clear {
    clear:left;
    width:auto;
}
.form-line-inner {
    display:inline-block;
    width:100%;
}
.form-label-auto {
    width:150px;
    margin-bottom:6px;
    display:inline-block;
    white-space:normal;
}
.form-label-top {
    margin-bottom:6px;
    display:inline-block;
    white-space:normal;
}
.form-label-left {
    float:left;
    display:inline-block;
    text-align:left;
    padding:3px;
    margin-right:6px;
    margin-bottom:6px;
    white-space:normal;
    word-break:break-all;
}
.form-label-right {
    float:left;
    display:inline-block;
    text-align:right;
    margin-right:6px;
    margin-bottom:6px;
    padding:3px;
    white-space:normal;
    word-break:break-all;
}
.form-required {
    margin-left:5px;
    color:red;
}
.form-textbox,.form-textarea,.form-dropdown {
    width:auto;
}
.form-matrix-table {
    border-collapse:collapse;
    font-size:10px;
    margin-bottom:5px;
}
.form-matrix-table th,.form-matrix-table td {
    padding:5px;
}
.form-matrix-column-headers {
    border:1px solid #ccc;
    background:#ddd;
    color:inherit;
    text-align:center;
}
.form-matrix-row-headers {
    border:1px solid #ccc;
    background:#ddd;
}
.form-matrix-values {
    border:1px solid #ccc;
    background:#f5f5f5;
    text-align:center;
}
.form-matrix-values .form-radio,.form-matrix-values .form-checkbox {
    float:none;
}
.form-question-input {
    position:relative;
}
.form-question-over {
    border:1px dotted #999 !important;
    color:#000 !important;
    background:#fffff0 !important;
}
.form-question-selected {
    border:1px solid #ccc !important;
    color:#000 !important;
    background-color:#f5f5f5;
}
.form-question-over.ui-sortable-helper,.form-question-selected.ui-sortable-helper {
    opacity:0.7 !important;
}
.form-button-container {
    position:absolute;
    top:-27px;
    right:-1px;
    border:1px solid #ccc;
    border-bottom:none;
    background:#f5f5f5;
    display:none;
}
.form-question-selected .form-button-container {
    display:block;
}
.form-header {
    margin:0;
}
.form-subHeader {
    border-top:1px solid #ccc;
    font-style:italic;
}
.form-header-group {
    background:#f5f5f5;
    border-bottom:1px solid #ccc;
    padding:12px;
    clear:both;
}
.form-radio,.form-checkbox {
    vertical-align:middle;
    margin:0;
    padding:0;
    float:left;
}
.form-radio-item,.form-checkbox-item {
    margin-top:5px;
    float:left;
}
.form-multiple-column,.form-single-column {
    display:inline-block;
}
.form-multiple-column .form-radio-item,.form-multiple-column .form-checkbox-item {
    width:150px;
}
.form-radio-item label,.form-checkbox-item label {
    display:inline-block;
    margin-left:5px;
}
.form-radio-item br,.form-checkbox-item br {
    clear:left;
}
/**
 * This a fix for column view in IE6 and IE7
 * only in single column. After relaxing we have
 * to change the HTML code directly to fix column
 * problems in IE6 and IE7.
 */
.form-single-column .clearfix {
    display:inline-block;
}
.form-single-column .clearfix {
    display:block;
}
.form-multiple-column .clearfix {
    display:none;
}
.form-sub-label-container {
    display:inline-block;
    margin-right:5px;
    white-space:nowrap;
}
.form-sub-label {
    color:#999999;
    display:block;
    font-size:9px;
}

/* Description (hover text)
-------------------------------------------------- */
.form-description {
    z-index:1000;
    display:none;
    position:absolute;
    right:-5px;
    max-width:150px;
    top:-5px;
    border:4px solid #ccc;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0px 2px 4px #666;
    -moz-border-radius:3px;
    -moz-box-shadow:0px 2px 4px #666;
    border-radius:3px;
    box-shadow:0px 2px 4px #666;
    background:#f5f5f5;
    white-space:normal;
}
#form-preview .form-line:hover .form-description {
    display:block;
}
.form-description-content {
    padding:10px;
    font-size:10px;
    color:#333;
}
.form-description-arrow {
    border-color:transparent #ccc transparent transparent;
    border-style:solid;
    border-width:10px;
    height:0;
    width:0;
    left:-24px;
    top:7px;
    position:absolute;
}
.form-description-arrow-small {
    border-color:transparent #f5f5f5 transparent transparent;
    border-style:solid;
    border-width:7px;
    height:0;
    width:0;
    left:-14px;
    top:10px;
    position:absolute;
}
form-description.right {
    right:33px !important;
}
.form-description-indicator {
    display:none;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    width:25px;
    background:url(../images/info.png) no-repeat center;
}
form-description.right .form-description-arrow {
    border-color:transparent transparent transparent #ccc;
    left:auto;
    right:-24px;
}
form-description.right .form-description-arrow-small {
    border-color:transparent transparent transparent #f5f5f5;
    left:auto;
    right:-14px;
}

/* Error message
-------------------------------------------------- */
.form-error-message {
    z-index:900;
    position:relative;
    bottom:-5px;
    color:#333;
    padding:3px 30px;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0px 2px 4px #666;
    -moz-border-radius:3px;
    -moz-box-shadow:0px 2px 4px #666;
    border-radius:3px;
    box-shadow:0px 2px 4px #666;
    border:1px solid #666;
    background:#fcc url(../images/info.png) no-repeat scroll 5px 4px;
}
#form-editor .form-error-message {
    display:none;
}
.form-error-arrow {
    position:absolute;
    top:-21px;
    left:10px;
    height:0;
    width:0;
    border:10px solid transparent;
    border-bottom-color:#666;
    border-bottom:10px solid #666;
}
.form-error-arrow-inner {
    position:absolute;
    top:1px;
    height:0;
    width:0;
    border:10px solid transparent;
    border-bottom-color:#fcc;
    border-bottom-width:11px;
    left:-10px;
    top:-10px;
}

/* Properties window
-------------------------------------------------- */
.form-prop-table {
    border:1px solid #ccc;
    border-bottom:none;
    width:100%;
}
.form-prop-table td {
    border-bottom:1px solid #ccc;
    padding:5px;
}
.form-prop-table-label {
    background:#fff;
    width:40%
}
.form-prop-table-value {
    background:#eee;
    border-left:1px solid #ccc;
    white-space:pre-wrap
}
.form-prop-table-detail {
    color:#aaa;
    display:block;
    font-size:9px;
    white-space: normal
}

/* Fancy styling
-------------------------------------------------- */
form-line.form-question-selected {
    -moz-border-radius:5px 5px;
    -moz-border-radius-topright:0 0;
    -webkit-border-radius:5px 5px;
    -webkit-border-top-right-radius:0 0;
    border-radius:5px 5px;
    border-top-right-radius:0 0;
}
.form-button-container {
    -moz-border-radius-topleft:5px 5px;
    -moz-border-radius-topright:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    border-top-right-radius:5px 5px;
}

/* Tools sprite
-------------------------------------------------- */
.form-tool-item {
    display:none;
    width:16px;
    height:16px;
    margin:4px 5px 4px;
    line-height:16px;
    vertical-align:text-top;
    cursor:pointer;
    background:transparent url(../images/tools.png) no-repeat scroll 0 0;
}
.form-tool-item:last-child {
    margin-left:0;
    margin-right:5px;
}
.form-tool-item.add         { background-position:-0 0; }
.form-tool-item.auto-off    { background-position:-16px 0; }
.form-tool-item.auto-on     { background-position:-32px 0; }
.form-tool-item.cross       { background-position:-48px 0; }
.form-tool-item.disk        { background-position:-64px 0; }
.form-tool-item.down        { background-position:-80px 0; }
.form-tool-item.emails      { background-position:-96px 0; }
.form-tool-item.expand      { background-position:-112px 0; }
.form-tool-item.gear        { background-position:-128px 0; }
.form-tool-item.merge-line  { background-position:-144px 0; }
.form-tool-item.new-line    { background-position:-160px 0; }
.form-tool-item.pencil      { background-position:-176px 0; }
.form-tool-item.preview     { background-position:-192px 0; }
.form-tool-item.redo        { background-position:-208px 0; }
.form-tool-item.required    { background-position:-224px 0; }
.form-tool-item.share       { background-position:-240px 0; }
.form-tool-item.shrink      { background-position:-256px 0; }
.form-tool-item.toggle      { background-position:-272px 0; }
.form-tool-item.transparent { background-position:-288px 0; }
.form-tool-item.undo        { background-position:-304px 0; }
.form-tool-item.up          { background-position:-320px 0; }
.form-tool-item.wand        { background-position:-336px 0; }

.form-line .form-tool-item.required,
.form-line .form-tool-item.shrink,
.form-line .form-tool-item.gear,
.form-line .form-tool-item.cross,
.form-line .form-tool-item.wand,
.form-line-column .form-tool-item.expand,
.form-line-column .form-tool-item.new-line,
.form-line-column-clear .form-tool-item.merge-line {
    display:inline-block;
}
.form-line-column .form-tool-item.shrink,
.form-line-column-clear .form-tool-item.new-line {
    display:none;
}

/* Wizard: form collapse
-------------------------------------------------- */
.form-collapse-table {
    position:relative;
    padding:12px;
    border:1px solid #ccc;
    cursor:pointer;
    -moz-border-radius:3px 3px;
    -webkit-border-radius:3px 3px;
    border-radius:3px 3px;
    -moz-box-shadow:0 1px #fff inset,0 1px #ddd;
    -webkit-box-shadow:0 1px #fff inset,0 1px #ddd;
    box-shadow:0 1px #fff inset,0 1px #ddd;
    background:#f5f5f5;
    /* Old browsers */
    background:-moz-linear-gradient(top,#f5f5f5 0%,#eeeeee 100%);
    /* FF3.6+*/
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#eeeeee));
    /* Chrome,Safari4+*/
    background:-webkit-linear-gradient(top,#f5f5f5 0%,#eeeeee 100%);
    /* Chrome10+,Safari5.1+*/
    background:-o-linear-gradient(top,#f5f5f5 0%,#eeeeee 100%);
    /* Opera 11.10+*/
    background:-ms-linear-gradient(top,#f5f5f5 0%,#eeeeee 100%);
    /* IE10+*/
    background:linear-gradient(top,#f5f5f5 0%,#eeeeee 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#eeeeee',GradientType=0);
    /* IE6-9 */
}
.form-collapse-table:hover {
    background:#ffffff;
    background:-moz-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f5f5f5));
    background:-webkit-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
    background:-o-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
    background:-ms-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
    background:linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
}
.form-collapse-table:active {
    background:#eeeeee;
    background:-moz-linear-gradient(top,#eeeeee 0%,#f5f5f5 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eeeeee),color-stop(100%,#f5f5f5));
    background:-webkit-linear-gradient(top,#eeeeee 0%,#f5f5f5 100%);
    background:-o-linear-gradient(top,#eeeeee 0%,#f5f5f5 100%);
    background:-ms-linear-gradient(top,#eeeeee 0%,#f5f5f5 100%);
    background:linear-gradient(top,#eeeeee 0%,#f5f5f5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#f5f5f5',GradientType=0);
    -moz-box-shadow:0 1px #fff inset;
    -webkit-box-shadow:0 1px #fff inset;
    box-shadow:0 1px #fff inset;
}
.form-collapse-mid {
    text-shadow:0px 2px 0px #fff;
    font-size:18px;
    margin:16px 45px 16px 20px;
}
.form-collapse-right {
    position:absolute;
    top:-5px;
    right:0;
    height:58px;
    width:40px;
}
.form-collapse-right-show {
    background:url(../images/arrow-open.png) no-repeat center;
}
.form-collapse-right-hide,.form-section-closed .form-collapse-right-show {
    background:url(../images/arrow-closed.png) no-repeat center;
}
.form-collapse-hidden {
    display:none;
}

/* Wizard: calculation
-------------------------------------------------- */
.calcActions {
    float:right;
}
.calcContainer .addField,.calcActions .finishButton {
    margin-right:20px;
}
.calcTitle {
    font-weight:bold;
    font-size:14pt;
}
.calcContainer {
    width:640px;
    height:320px;
    background-color:white;
    overflow:hidden;
    margin-top:5px;
    margin-bottom:20px;
    z-index:10000 !important;
    position:relative;
    -webkit-box-shadow:0 0 7px 3px #bbb;
    box-shadow:0 0 7px 3px #bbb;
}
.calcContainer .calcBacking {
    background-color:white;
    padding:15px;
    float:left;
    width:400px;
    min-height:320px;
    position:relative;
}
.calcContainer .calcEditor {
    width:430px;
    background-color:#F5F5F5;
    height:290px;
    font-family:"Lucida Grande",Verdana;
    font-size:16px;
    padding:15px 8px;
    outline:none;
    overflow:auto;
    -webkit-box-shadow:inset 0px 0px 10px 1px #aaa;
    box-shadow:inset 0px 0px 10px 1px #aaa;
    -webkit-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
}
.calcContainer .calcText {
    outline:none;
    padding:0 3px;
    min-width:1px;
    display:inline-block;
}
/*this sucks but i cannot work another way because ff realy doesnt like inline-block contenteditables*/
.calcContainer .calcControls {
    height:330px;
    width:178px;
    float:right;
    background-color:#F5F5F5;
    border-left:1px solid #DDD;
}
.calcContainer .addFieldContainer {
    border-bottom:1px solid #DDD;
}
.calcContainer .addField {
    margin:20px 40px 10px 40px;
    width:98px;
}
.calcContainer .operandsContainer {
    height:105px;
    border-bottom:1px solid #DDD;
}
.calcContainer .numberPadContainer {
    padding:10px 35px;
    height:200px;
}
/** --OPTIONS **/
/** FIELD LIST **/
.calcContainer .fieldListContainer {
    display:none;
    width:416px;
    font-size:12pt;
    overflow-y:auto;
    max-height:248px;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;
    margin:0;
    padding:0;
    -webkit-box-shadow:inset 0px 0px 10px 1px #aaa;
    box-shadow:inset 0px 0px 10px 1px #aaa;
}
.calcContainer .fieldList {
    margin:0;
}
.calcContainer .fieldItem {
    background:#ddd;
    border:1px solid #ddd;
    border-bottom:0px solid #bbb;
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
    text-shadow:0 0 5px #ffffff;
    font-weight:bold;
    font-size:13px;
    list-style:none;
    background-color:rgba(0,0,0,0.04);
    color:#666;
    cursor:pointer;
    padding:10px 12px 8px 18px;
    cursor:pointer !important;
    margin:0;
}
.calcContainer .fieldItem:first-child {
    -moz-border-radius:.3em .3em 0 0;
    -webkit-border-radius:.3em .3em 0 0;
    border-radius:.3em .3em 0 0;
}
.calcContainer .fieldItem:last-child {
    -moz-border-radius:0 0 .3em .3em;
    -webkit-border-radius:0 0 .3em .3em;
    border-radius:0 0 .3em .3em;
    border-bottom:1px solid #ddd;
}
.calcContainer .noFields {
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
    text-shadow:0 0 5px #ffffff;
    color:#333;
    font-weight:bold;
    font-size: 15px;
}
/** --MORE OPERATORS**/
/** Buttons **/
.calcActions .calcButton,.calcContainer .calcButton {
    cursor:pointer;
    outline:none;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;
    padding:8px 18px;
    color:#777777 !important;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    text-shadow:1px 1px 0px #ffffff;
    border:1px solid #ccc !important;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:#dfdfdf;
    /* old browsers */
    background:-moz-linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    /* firefox */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ededed),color-stop(100%,#dfdfdf));
    /* webkit */
    background:linear-gradient(top,#ededed 0%,#dfdfdf 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#dfdfdf',GradientType=0);
    /* ie */
}
.calcActions .calcButton:hover,.calcContainer .calcButton:hover {
    background:#ebebeb;
    /* old browsers */
    background:-moz-linear-gradient(top,#fafafa 0%,#ebebeb 100%);
    /* firefox */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#ebebeb));
    /* webkit */
    background:linear-gradient(top,#fafafa 0%,#ebebeb 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#ebebeb',GradientType=0);
    /* ie */
}
.calcActions .calcButton:active,.calcContainer .calcButton:active {
    position:relative;
    top:1px;
    background:#ebebeb;
    /* old browsers */
    background:-moz-linear-gradient(top,#ebebeb 0%,#fafafa 100%);
    /* firefox */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ebebeb),color-stop(100%,#fafafa));
    /* webkit */
    background:linear-gradient(top,#ebebeb 0%,#fafafa 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb',endColorstr='#fafafa',GradientType=0);
    /* ie */
}
.calcContainer .opButton {
    padding:2px 10px;
    float:left;
    font-size:14px;
    outline:none;
    margin:0;
    font-weight:500;
    width:35px;
    min-height:30px;
}
.calcContainer .topLeftButton {
    margin:0;
    -moz-border-radius:.3em 0 0 0;
    -webkit-border-radius:.3em 0 0 0;
    border-radius:.3em 0 0 0;
}
.calcContainer .topRightButton {
    margin:0;
    -moz-border-radius:0 .3em 0 0;
    -webkit-border-radius:0 .3em 0 0;
    border-radius:0 .3em 0 0;
}
.calcContainer .bottomLeftButton {
    margin:0;
    -moz-border-radius:0 0 0 .3em;
    -webkit-border-radius:0 0 0 .3em;
    border-radius:0 0 0 .3em;
}
.calcContainer .bottomRightButton {
    margin:0;
    -moz-border-radius:0 0 .3em 0;
    -webkit-border-radius:0 0 .3em 0;
    border-radius:0 0 .3em 0;
}
.calcContainer .topButton {
    margin:0;
    -moz-border-radius:.3em .3em 0 0;
    -webkit-border-radius:.3em .3em 0 0;
    border-radius:.3em .3em 0 0;
}
.calcContainer .bottomButton {
    margin:0;
    -moz-border-radius:0 0 .3em .3em;
    -webkit-border-radius:0 0 .3em .3em;
    border-radius:0 0 .3em .3em;
}
.calcContainer .leftButton {
    margin:0;
    -moz-border-radius:.3em 0 0 .3em;
    -webkit-border-radius:.3em 0 0 .3em;
    border-radius:.3em 0 0 .3em;
}
.calcContainer .rightButton {
    margin:0;
    -moz-border-radius:0 .3em .3em 0;
    -webkit-border-radius:0 .3em .3em 0;
    border-radius:0 .3em .3em 0;
}
.calcContainer .middleButton {
    margin:0;
    -moz-border-radius:0 0 0 0;
    -webkit-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
}
.calcContainer .calcElement.color {
    display:inline-block;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size:14px;
    margin:0 0px 3px 0px;
    padding:5px 12px;
    color:white !important;
    font-weight:normal;
    text-shadow:0px 0px 1px #555;
    -moz-box-shadow:0;
    -webkit-box-shadow:0;
    box-shadow:0;
    -webkit-box-shadow:0px 0px 2px 2px #aaa;
    box-shadow:0px 0px 0px 1px #bbb;
    border:0px solid #F5F5F5 !important;
    border-top:1px solid #ddd !important;
}
.calcContainer .calcElement.green {
    background:#5fc74e;
    /* old browsers */
    background:-moz-linear-gradient(top,#4fb345 0%,#5fc74e 100%);
    /* firefox */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4fb345),color-stop(100%,#5fc74e));
    /* webkit */
    background:linear-gradient(top,#4fb345 0%,#5fc74e 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fb345',endColorstr='#5fc74e',GradientType=0);
    /* ie */
}
.calcContainer .calcElement.orange {
    background:#E58200;
    /* old browsers */
    background:-moz-linear-gradient(top,#FF9B00 0%,#E58200 100%);
    /* firefox */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF9B00),color-stop(100%,#E58200));
    /* webkit */
    background:linear-gradient(top,#FF9B00 0%,#E58200 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9B00',endColorstr='#E58200',GradientType=0);
    /* ie */
}
.calcContainer .calcElement.grey {
    background:#777;
    /* old browsers */
    background:-moz-linear-gradient(top,#555 0%,#777 100%);
    /* firefox */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#555),color-stop(100%,#777));
    /* webkit */
    background:linear-gradient(top,#555 0%,#555 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555',endColorstr='#777',GradientType=0);
    /* ie */
}
.calcContainer .calcElement.blue {
    background:#1e5799;
    /* old browsers */
    background:-moz-linear-gradient(top,#1e5799 0%,#1f659b 100%);
    /* firefox */
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#1e5799),color-stop(100%,#1f659b));
    background:linear-gradient(top,#1e5799 0%,#1f659b 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799',endColorstr='#1f659b',GradientType=0);
    /* ie */
}
.calcContainer .calcElement.red {
    background:#ff3200;
    /* Old browsers */
    background:-moz-linear-gradient(top,#ff3200 0%,#ce0000 100%,#207cca 100%);
    /* FF3.6+*/
    background:-webkit-linear-gradient(top,#ff3200 0%,#ce0000 100%,#207cca 100%);
    /* Chrome10+,Safari5.1+*/
    background:linear-gradient(to bottom,#ff3200 0%,#ce0000 100%,#207cca 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3200',endColorstr='#207cca',GradientType=0);
    /* IE6-9 */
}
